:root {
  /* color */
  --white-color: #fff;
  --black-color: #140a00;
  --blue-color: #045fd4;
  --red-color: #ff0000;
  --grey-dark-color: #909090;
  --grey-light-color: #e0e0e0;

  /* size */
  --padding: 12px;
  --avatar-size: 36px;

  /* Font size */
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  padding: 0px;
}

ul {
  list-style: none;
}

button,
button:focus {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: var(--white-color);
}

header {
  display: flex;
  justify-content: space-between;
  padding: var(--padding);
  background-color: var(--black-color);
  color: var(--white-color);
}

header .logo {
  font-size: var(--font-large);
}

header .logo i {
  color: var(--red-color);
}

header .icons .fa-search {
  margin-right: var(--padding);
}

.player {
  text-align: center;
  background-color: var(--black-color);
  position: sticky;
  top: 0;
}

.player video {
  width: 100%;
  height: 100%;
  max-width: 1000px;
}

.info {
  padding: var(--padding);
}

.info .metadata .hashtags {
  display: flex;
  color: var(--blue-color);
  font-size: var(--font-small);
}

.info .metadata .hashtags li {
  margin-right: var(--padding);
}

.info .metadata .titleAndButtons {
  display: flex;
}

.info .metadata .titleAndButtons .title {
  font-size: var(--font-medium);
  margin-right: var(--padding);
}

.info .metadata .titleAndButtons .title.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.info .metadata .titleAndButtons .moreBtn {
  height: 100%;
}

.info .metadata .titleAndButtons .moreBtn.clicked {
  transform: rotate(180deg);
}

.info .viewInfo {
  font-size: --font-small;
  color: var(--grey-dark-color);
}

.actions {
  display: flex;
  justify-content: space-around;
  padding: var(--padding);
}

.actions button {
  display: flex;
  flex-direction: column;
  color: var(--grey-dark-color);
  font-size: var(--font-small);
}

.actions button i {
  margin: 0 auto;
  margin-bottom: calc(var(--padding) / 2);
}

i.active {
  color: var(--blue-color);
}

.channel {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--grey-light-color);
  border-bottom: 1px solid var(--grey-light-color);
}

.channel .channel__info {
  display: flex;
  align-items: center;
}

.channel .info .title {
  font-size: var(--font-medium);
}

.channel .info .subs {
  font-size: var(--font-small);
}

.channel .info {
  display: flex;
  flex-direction: column;
}

.channel button {
  text-transform: uppercase;
  color: var(--red-color);
  font-size: var(--font-medium);
}

.channel img {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
}

.upNext .text {
  font-size: var(--font-medium);
  color: var(--grey-dark-color);
  padding: calc(var(--padding) / 2);
}

.upNext img {
}

.upNext .item {
  display: flex;
  margin-top: var(--padding);
}

.upNext img {
  width: 100%;
}
.upNext .item .img {
  flex: 1 1 35%;
  margin-right: var(--padding);
}

.upNext .item .nextVideo__info {
  flex: 1 1 60%;
  font-size: var(--font-medium);
  display: flex;
  flex-direction: column;
}

.upNext .item button {
  flex: 1 1 5%;
  height: 100%;
}

.upNext .item .nextVideo__info .name,
.upNext .item .nextVideo__info .views {
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}

.infoAndUpNext {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .infoAndUpNext {
    flex-direction: row;
    margin: 0 var(--padding);
  }

  .infoAndUpNext .info {
    flex: 1 50%;
  }

  .infoAndUpNext .upNext {
    flex: 1 50%;
  }
}
