body {
  box-sizing: border-box;
  font-family: "Source Sans Pro";
  margin: 0;
}

:root {
  --text-color: #f0f4f5;
  --background-color: #263343;
  --accent-color: #d49466;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--background-color);
  color: var(--text-color);
  align-items: center;
  padding: 8px 12px;
}

.navbar__logo {
  font-size: 24px;
}

.navbar__logo i {
  color: var(--accent-color);
}

.navbar__menu {
  display: flex;
  padding-left: 0;
}

.navbar__menu li:hover {
  background-color: var(--accent-color);
  border-radius: 4px;
}

.navbar__menu li,
.navbar__icons li {
  list-style: none;
  padding: 8px 12px;
}

.navbar__icons {
  display: flex;
}

a {
  text-decoration: none;
  color: white;
}

.bar_button {
  display: none;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 8px 24px;
  }

  .navbar__logo {
    align-items: flex-start;
    width: 100%;
  }

  .navbar__menu {
    display: none;
    flex-direction: column;
    text-align: center;
    width: 100%;
  }

  .navbar__icons {
    display: none;
    padding-left: 0px;
  }

  .bar_button {
    display: block;
    position: fixed;
    right: 32px;
    color: #d49466;
    font-size: 24px;
  }

  .navbar__menu.active,
  .navbar__icons.active {
    display: flex;
  }
}
