body {
  box-sizing: border-box;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #263343;
  height: 85px;
  color: white;
  align-items: center;
}

.navbar__logo {
  padding-left: 20px;
  font-size: 20px;
}

.navbar__logo i {
  color: #d49466;
}

.navbar__menu {
  display: flex;
}

.navbar__menu li,
.navbar__icons li {
  list-style: none;
  padding-right: 20px;
}

.navbar__icons {
  display: flex;
}
